/* | Variables */

:root {
	--font-color: #212121;
	--fade-font-color: #999999;
	--border-color: #f4f4f4;
	--border-accent-color: #d2d2d2;
	--hover-color: #fafafa;
	--disabled-color: #b0b0b0;
}

/* | Common */

* {
	box-sizing: border-box;
	color: var(--font-color);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-weight: normal;
}

/* | Layout

All pages should stick to this layout:

  body
    #app
      #header
      #content
      #footer

*/

body {
	height: 100vh;
	margin: 0;
	padding: 0px;
	width: 100vw;
}

#app {
	display: grid;
	grid-template-rows: 40px calc(100% - 70px - 20px) 30px;
	height: 100%;
	margin: auto;
	max-width: 2000px;
	min-width: 900px;
	padding: 10px 20px;
	row-gap: 10px;
	width: 100%;
}

#header {
	border-bottom: 1px solid var(--border-accent-color);
	box-sizing: content-box;
	font-size: 20px;
	height: 35px;
	line-height: 35px;
	padding-bottom: 5px;
	width: 100%;
}

.header__path__element::after {
	content: ' /';
}

.header__path__element:last-child::after {
	content: '';
}

@media (max-width: 1350px) {
	#app {
		padding: 0 10px;
	}

	#header {
		font-size: 18px;
	}
}

/* | Card */

.card {
	background: #ffffff;
	box-shadow: 0 5px 15px rgba(0, 0, 0, .08);
}

.card__title {
	background-color: #ffffff;
	border-bottom: 1px solid var(--border-accent-color);
	font-size: 1.3rem;
	padding: 5px 10px;
	position: sticky;
	top: 0;
	z-index: 1;
}

.card__body {
	padding: 10px 5px 20px;
}

.card--hover {
	transition-duration: 0.175s;
	transition-property: padding-left;
	transition-timing-function: ease-in-out;
}

.card--hover:focus,
.card--hover:hover {
	background-color: var(--hover-color);
	padding-left: 7%;
}

a:link.card--hover:focus,
a:link.card--hover:hover {
	text-decoration: none;
}

/* | Icons */

.feather-icon > svg {
	fill: none;
	height: 18px;
	stroke: #888888;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-width: 2;
	width: 18px;
}

a.feather-icon,
button.feather-icon {
	display: block;
	padding: 3px;
	background-color: #00000000;
}

a.feather-icon:not(.disabled),
button.feather-icon:not(.disabled) {
	cursor: pointer;
}

a.feather-icon > svg,
button.feather-icon > svg {
	opacity: 0.64;
}

a.feather-icon:hover:not(.disabled) > svg,
button.feather-icon:hover:not(.disabled) > svg,
a.feather-icon:focus:not(.disabled) > svg,
button.feather-icon:focus:not(.disabled) > svg {
	opacity: 1;
	stroke: #666666;
}

/* | Inputs */

a:focus,
input:not([type="checkbox"]):focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

button {
	background-color: white;
	border: none;
	padding: 0;
}

input {
	background-color: white;
	font-size: 15px;
}

input[type="text"],
input[type="date"] {
	border: none;
	border-bottom: 1px solid var(--border-color);
	width: 100%;
}

input[type="text"]:focus,
input[type="date"]:focus {
	border-color: var(--border-accent-color);
}

input[type="button"],
input[type="submit"] {
	border: 1px solid var(--border-accent-color);
	cursor: pointer;
	padding: 3px;
	width: 80px;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="button"]:focus,
input[type="submit"]:focus {
	background-color: var(--hover-color);
}

select {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='black' stroke-width='2' stroke-linecap='round'><polyline points='19 12 12 19 5 12'></polyline></svg>")
		no-repeat right;
	background-color: white;
	border: none;
	border-bottom: 1px solid var(--border-color);
	cursor: pointer;
	padding: 2px 16px 2px 0;
	scrollbar-width: unset;
}

select:focus {
	border-color: var(--border-accent-color);
}

select.reverse {
	background-position: left;
	padding-right: 0;
	padding-left: 16px;
	text-align-last: right;
}

/* | Links */

a:link,
a:visited {
	text-decoration: none;
	color: #039be5;
}

a:link:focus,
a:link:hover {
	text-decoration: underline;
}

/* | Money */

.money--gain {
	color: green;
}

.money--gain::before {
	content: "+";
}

.money--lose {
	color: crimson;
}

/* | Scrollbar */

/* || Firefox */

* {
	scrollbar-width: thin;
}

/* || WebKit */

::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	background-color: #eff0f1;
}

::-webkit-scrollbar-thumb {
	background-color: #e1e1e1;
}

/* | Table */

table {
	border-collapse: collapse;
	margin-bottom: 1em;
	width: 100%;
}

table th,
td {
	border-bottom: 1px solid var(--border-color);
	padding: 5px;
	text-align: left;
	word-break: break-word;
}

table th {
	color: var(--fade-font-color);
}

table tbody tr:hover {
	background-color: var(--hover-color);
}

table tr:last-child td {
	border-bottom: none;
}

/* | Other */

.noselect {
	cursor: default;
	user-select: none;
}
