<style>
	#app-info {
		column-gap: 5px;
		display: flex;
		justify-content: center;
	}
</style>

<div id="footer">
	<div id="app-info" class="noselect">
		<div>Budget Manager {{.Version}}</div>
		<div>|</div>
		<div>
			<a href="https://github.com/ShoshinNikita/budget-manager" target="_blank" title="GitHub repo">
				<div class="feather-icon">
					<svg style="height: 18px; width: 18px;">
						<use xlink:href="/static/feather/feather-sprite.svg#github" />
					</svg>
				</div>
			</a>
		</div>
	</div>
</div>