<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ .Month.Month }} {{ .Year }} | Budget Manager</title>

	<link rel="stylesheet" href="/static/css/common.css">

	<style>
		/* | Global */

		table th,
		td {
			word-break: keep-all;
		}

		table th {
			white-space: nowrap;
		}

		/* || Actions */

		.actions-horizontal-list {
			display: flex;
		}

		.actions-horizontal-list>.feather-icon>svg {
			width: 18px;
			height: 18px;
		}

		/* || Other */

		svg.svg-icon-plus {
			transform: scale(1.2);
		}

		/* | Header */

		#header {
			display: grid;
			column-gap: 20px;
			position: relative;
			row-gap: 5px;
		}

		#header__stats {
			column-gap: 15px;
			display: grid;
			grid-template-columns: repeat(3, min-content);
		}

		.header__stats__stat {
			column-gap: 5px;
			display: grid;
			grid-template-columns: repeat(2, min-content);
			white-space: nowrap;
		}

		#header__buttons {
			column-gap: 5px;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			height: 100%;
			position: absolute;
			right: 0px;
			top: 0px;
		}

		#header__buttons svg {
			height: 30px;
			width: 30px;
		}

		/* | Detailed info */

		#detailed-info {
			column-gap: 20px;
			display: grid;
			height: 100%;
			row-gap: 20px;
		}

		.detailed-info__block {
			border: 1px solid var(--border-color);
			border-radius: 2px;
			display: flex;
			flex-direction: column;
			height: 100%;
			overflow-x: auto;
		}

		.detailed-info__block__header {
			border-bottom: 1px solid var(--border-accent-color);
			margin: 0 5px 5px;
			font-size: 20px;
			padding-bottom: 5px;
			text-align: center;
		}

		.detailed-info__block__table {
			height: 100%;
			overflow-x: auto;
		}

		.detailed-info__block__table__type,
		.detailed-info__block__table__money,
		.detailed-info__block__table__money--input,
		.detailed-info__block__table__actions {
			/* Set width to minimum */
			width: 1px;
			white-space: nowrap;
		}

		.detailed-info__block__table__money {
			min-width: 80px;
			text-align: right;
		}

		td.detailed-info__block__table__money {
			padding-right: 10px;
		}

		#detailed-info__block__table__copy-from-previous-month-button {
			height: 30px;
			margin-top: 30px;
			text-align: center;
		}

		#detailed-info__block__table__copy-from-previous-month-button>input {
			width: auto;
			padding: 6px;
		}

		/* || Income */

		#detailed-info__incomes {
			grid-area: incomes;
		}

		/* || Monthly Payments */

		#detailed-info__monthly-payments {
			grid-area: monthly-payments;
		}

		/* || Days */

		#detailed-info__days {
			border: none;
			grid-area: days;
		}

		#detailed-info__days__calendar {
			display: grid;
			grid-template-columns: repeat(7, 1fr);
			column-gap: 10px;
			row-gap: 10px;
			margin-bottom: 30px;
		}

		.detailed-info__days__calendar__week-day-name {
			border-bottom: 1px solid var(--border-color);
			font-size: 14px;
			margin: auto;
			padding: 0 10px;
			text-align: center;
			width: min-content;
		}

		.detailed-info__days__calendar__day,
		.detailed-info__days__calendar__day--disabled {
			border: 1px solid var(--border-color);
			border-radius: 2px;
			padding: 5px 7px;
		}

		.detailed-info__days__calendar__day:hover {
			background-color: var(--hover-color);
			cursor: pointer;
		}

		.detailed-info__days__calendar__day--disabled {
			opacity: 0.2;
		}

		.detailed-info__days__calendar__day__info {
			display: flex;
		}

		.detailed-info__days__calendar__day__info__spend-number {
			display: flex;
		}

		.detailed-info__days__calendar__day__info__spend-number::before {
			content: "·";
			margin-left: 5px;
			padding-right: 5px;
		}

		.detailed-info__days__calendar__day__saldo {
			text-align: right;
		}

		.detailed-info__days__day {
			/* Hidden by default */
			display: none;
			border: 1px solid var(--border-color);
			border-radius: 2px;
			overflow-y: auto;
			padding: 3px;
			padding-top: 0;
		}

		.detailed-info__days__day__date {
			background-color: white;
			border-bottom: 1px solid var(--border-accent-color);
			font-size: 20px;
			margin: 0px 0px 10px;
			padding: 3px 10px 5px;
			position: sticky;
			top: 0;
			z-index: 1;
		}

		.detailed-info__days__day__spends {
			overflow-x: auto;
		}

		.detailed-info__days__day__result {
			column-gap: 20px;
			display: grid;
			grid-template-columns: repeat(2, max-content);
			font-size: 18px;
			justify-content: right;
			margin: 10px 10px 10px 0;
		}

		/* | Modal windows */

		#modal-window__background {
			background-color: #00000050;
			display: none;
			height: 100%;
			left: 0;
			overflow-y: auto;
			position: fixed;
			top: 0;
			width: 100%;
			z-index: 2;
		}

		.modal-window {
			background-color: white;
			border-radius: 2px;
			box-shadow: 0px 0px 10px 10px #00000020;
			display: none;
			margin: 9vh auto 5vh;
			max-width: 700px;
			padding: 20px;
			width: 80%;
		}

		.modal-window__header {
			font-size: 18px;
			margin-bottom: 10px;
			text-align: center;
		}

		.modal-window__edit-field {
			display: grid;
			grid-template-columns: 100px auto;
			margin-bottom: 5px;
		}

		.modal-window__edit-field>select {
			min-width: 150px;
			width: 25%;
		}

		.modal-window__save-button {
			margin-top: 20px;
			text-align: center;
		}

		.modal-window__manage-types__spend-type {
			column-gap: 20px;
			display: grid;
			grid-template-columns: 200px 30px;
			width: min-content;
			margin: 0 auto 5px;
		}

		.modal-window__manage-types__spend-type:last-child {
			margin-bottom: 20px;
		}

		.modal-window__manage-types__spend-type>.feather-icon>svg {
			height: 20px;
			vertical-align: middle;
			width: 20px;
		}

		/* | Layouts */

		/* For large screens (> 1350px) */
		@media (min-width: 1351px) {
			#header {
				grid-template-columns: 325px auto;
			}

			#detailed-info {
				grid-template-columns: 1fr 2fr;
				grid-template-rows: 1fr 1fr;
				grid-template-areas:
					"incomes days"
					"monthly-payments days";
			}
		}

		/* For medium screens (<= 1350px) */
		@media (max-width: 1350px) {
			#header {
				grid-template-columns: max-content auto;
			}

			#detailed-info {
				grid-template-columns: 1fr 1fr;
				grid-template-rows: 2fr 5fr;
				grid-template-areas:
					"incomes monthly-payments"
					"days days";
			}

			.detailed-info__block__header,
			.detailed-info__days__day__date {
				font-size: 18px;
			}

			.detailed-info__days__calendar__day__info {
				justify-content: center;
			}

			.detailed-info__days__calendar__day__saldo {
				display: none;
			}
		}
	</style>
</head>

<body>
	<div id="app">
		<div id="header">
			<!-- Path like "Overview / 2019 / November" -->
			<div id="header__path">
				<span> <a href="/overview">Overview<a> </span>
				<span class="noselect"> / </span>
				<span> <a href="/overview/{{ .Year }}">{{ .Year }}</a> </span>
				<span class="noselect"> / </span>
				<span> {{ .Month.Month }} </span>
			</div>

			<!-- Stats: Total Income and Spend, Result -->
			<div id="header__stats">
				<div class="header__stats__stat">
					<div class="noselect">Incomes:</div>
					<div class="money--gain">{{ .TotalIncome }}</div>
				</div>

				<div class="header__stats__stat">
					<div class="noselect">Spends:</div>
					<div class="money--lose">{{ .TotalSpend }}</div>
				</div>

				<div class="header__stats__stat">
					<div class="noselect">Result:</div>
					<!-- .Result > 0 -->
					{{ if ge .Result 0 }}
					<div class="money--gain">{{ .Result }}</div>
					{{ else }}
					<div class="money--lose">{{ .Result }}</div>
					{{ end }}
				</div>
			</div>

			<div id="header__buttons">
				<!-- Search for Spends -->
				{{ $after := printf `%d-%02d-01` .Year .Month.Month }}
				{{ $before := printf `%d-%02d-%d` .Year .Month.Month (len .Month.Days) }}
				<a href="/search/spends?after={{ $after }}&before={{ $before }}">
					<div class="feather-icon" title="Search for Spends">
						<svg>
							<use xlink:href="/static/feather/feather-sprite.svg#search" />
						</svg>
					</div>
				</a>

				<!-- Manage Spend Types -->
				<div class="feather-icon" title="Manage Types" onclick="showModalWindowToEditTypes()">
					<svg>
						<use xlink:href="/static/feather/feather-sprite.svg#tag" />
					</svg>
				</div>
			</div>
		</div>

		<div id="content">
			<div id="detailed-info">
				<!-- Incomes -->
				<div id="detailed-info__incomes" class="detailed-info__block">
					<div class="detailed-info__block__header noselect">Incomes</div>
					<!-- Incomes list -->
					<div class="detailed-info__block__table">
						<table>
							<tr>
								<th class="detailed-info__block__table__title noselect">Title</th>
								<th class="detailed-info__block__table__notes noselect">Notes</th>
								<th class="detailed-info__block__table__money money noselect">Income,</th>
								<th class="detailed-info__block__table__actions"></th>
							</tr>

							{{ range .Incomes }}
							<tr>
								<td class="detailed-info__block__table__title">{{ .Title }}</td>
								<td class="detailed-info__block__table__notes">{{ .Notes }}</td>
								<td class="detailed-info__block__table__money">{{ .Income }}</td>
								<td class="detailed-info__block__table__actions">
									<div class="actions-horizontal-list">
										<div class="feather-icon" title="Edit"
											onclick="showModalWindowToEditIncome('{{ .ID }}', '{{ .Title }}', '{{ .Notes }}', '{{ printf `%f` .Income }}')">
											<svg>
												<use xlink:href="/static/feather/feather-sprite.svg#edit-2" />
											</svg>
										</div>
										<div class="feather-icon" title="Remove" onclick="removeIncome(Number('{{ .ID }}'))">
											<svg>
												<use xlink:href="/static/feather/feather-sprite.svg#trash" />
											</svg>
										</div>
									</div>
								</td>
							</tr>
							{{ end }}

							<!-- Inputs for new Income -->
							<tr>
								<form onsubmit="addIncome()">
									<td class="detailed-info__block__table__title">
										<input type="text" id="new-income-title" placeholder="Title" autocomplete="off">
									</td>
									<td class="detailed-info__block__table__notes">
										<input
											type="text" id="new-income-notes" placeholder="Notes" autocomplete="off">
									</td>
									<td class="detailed-info__block__table__money--input">
										<input type="text" id="new-income-income" placeholder="Income" autocomplete="off">
									</td>
									<td class="detailed-info__block__table__actions">
										<button type="submit" class="actions-horizontal-list">
											<div class="feather-icon" title="Add">
												<svg class="svg-icon-plus">
													<use xlink:href="/static/feather/feather-sprite.svg#plus" />
												</svg>
											</div>
										</button>
									</td>
								</form>
							</tr>
						</table>

						{{ if not .Incomes }}
						<div id="detailed-info__block__table__copy-from-previous-month-button">
							<input type="button" value="Copy from previous Month" onclick="copyIncomesFromPreviousMonth()">
						</div>
						{{ end }}
					</div>
				</div>

				<!-- Monthly Payments -->
				<div id="detailed-info__monthly-payments" class="detailed-info__block">
					<div class="detailed-info__block__header noselect">Monthly Payments</div>
					<!-- Monthly Payment list -->
					<div class="detailed-info__block__table">
						<table>
							<tr>
								<th class="detailed-info__block__table__title noselect">Title</th>
								<th class="detailed-info__block__table__notes noselect">Notes</th>
								<th class="detailed-info__block__table__type noselect">Type</th>
								<th class="detailed-info__block__table__money money noselect">Cost,</th>
								<th class="detailed-info__block__table__actions"></th>
							</tr>

							{{ range .MonthlyPayments }}
							<tr>
								<td class="detailed-info__block__table__title">{{ .Title }}</td>
								<td class="detailed-info__block__table__notes">{{ .Notes }}</td>
								<td class="detailed-info__block__table__type">
									{{ if .Type }}
									{{ .Type.Name }}
									{{ else }}
									-
									{{ end }}
								</td>
								<td class="detailed-info__block__table__money">{{ .Cost }}</td>
								<td class="detailed-info__block__table__actions">
									<div class="actions-horizontal-list">
										<div class="feather-icon" title="Edit"
											onclick="showModalWindowToEditMonthlyPayment('{{ .ID }}', '{{ .Title }}', '{{ .Notes }}',
											'{{ if .Type }}{{ .Type.ID }}{{ else }}0{{ end }}', '{{ printf `%f` .Cost }}')">
											<svg>
												<use xlink:href="/static/feather/feather-sprite.svg#edit-2" />
											</svg>
										</div>
										<div class="feather-icon" title="Remove" onclick="removeMonthlyPayment(Number('{{ .ID }}'))">
											<svg>
												<use xlink:href="/static/feather/feather-sprite.svg#trash" />
											</svg>
										</div>
									</div>
								</td>
							</tr>
							{{ end }}

							<!-- Inputs for new Monthly Payment -->
							<tr>
								<form onsubmit="addMonthlyPayment()">
									<td class="detailed-info__block__table__title">
										<input type="text" id="new-monthly-payment-title" placeholder="Title"
											autocomplete="off">
									</td>
									<td class="detailed-info__block__table__notes">
										<input
											type="text" id="new-monthly-payment-notes" placeholder="Notes" autocomplete="off">
									</td>
									<td class="detailed-info__block__table__type">
										<select id="new-monthly-payment-type" autocomplete="off">
											<option value="0">-</option>
											{{ range $.SpendTypes }}
											<option value="{{ .ID }}">{{ .FullName }}</option>
											{{ end }}
										</select>
									</td>
									<td class="detailed-info__block__table__money--input">
										<input type="text" id="new-monthly-payment-cost" placeholder="Cost" autocomplete="off">
									</td>
									<td class="detailed-info__block__table__actions">
										<button type="submit" class="actions-horizontal-list">
											<div class="feather-icon" title="Add">
												<svg class="svg-icon-plus">
													<use xlink:href="/static/feather/feather-sprite.svg#plus" />
												</svg>
											</div>
										</button>
									</td>
								</form>
							</tr>
						</table>

						{{ if not .MonthlyPayments }}
						<div id="detailed-info__block__table__copy-from-previous-month-button">
							<input type="button" value="Copy from previous Month" onclick="copyMonthlyPaymentsFromPreviousMonth()">
						</div>
						{{ end }}
					</div>
				</div>

				<!-- Days -->
				<div id="detailed-info__days" class="detailed-info__block">
					<div id="detailed-info__days__calendar">
						{{ range .Days }}
						<div id="id-calendar-day-{{ .Day }}" class="detailed-info__days__calendar__day"
							onclick="selectDay('{{ .Day }}');">

							<div class="detailed-info__days__calendar__day__info">
								<div class="detailed-info__days__calendar__day__info__date">
									<span>{{ .Day }} {{ call $.ToShortMonth $.Month.Month }}</span>
								</div>
								<div class="detailed-info__days__calendar__day__info__spend-number" title="Spends">
									{{ len .Spends }}
								</div>
							</div>

							<div class="detailed-info__days__calendar__day__saldo" title="Saldo">
								{{ if ge .Saldo 0 }}
								<span class="money--gain">{{ .Saldo }}</span>
								{{ else }}
								<span class="money--lose">{{ .Saldo }}</span>
								{{ end }}
							</div>
						</div>
						{{ end }}
					</div>

					{{ range .Days }}
					<div id="id-day-{{ .Day }}" class="detailed-info__days__day">
						<div class="detailed-info__days__day__date">
							{{ .Day }} {{ $.Month.Month }}
						</div>

						<div class="detailed-info__days__day__spends">
							<table>
								<tr>
									<th class="detailed-info__block__table__title noselect">Title</th>
									<th class="detailed-info__block__table__notes noselect">Notes</th>
									<th class="detailed-info__block__table__type noselect">Type</th>
									<th class="detailed-info__block__table__money money noselect">Cost,</th>
									<th class="detailed-info__block__table__actions"></th>
								</tr>

								{{ range .Spends }}
								<tr>
									<td class="detailed-info__block__table__title">{{ .Title }}</td>
									<td class="detailed-info__block__table__notes">{{ .Notes }}</td>
									<td class="detailed-info__block__table__type">
										{{ if .Type }}
										{{ .Type.Name }}
										{{ else }}
										-
										{{ end }}
									</td>
									<td class="detailed-info__block__table__money">{{ .Cost }}</td>
									<td class="detailed-info__block__table__actions">
										<div class="actions-horizontal-list">
											<div class="feather-icon" title="Edit"
												onclick="showModalWindowToEditSpend('{{ .ID }}', '{{ .Title }}', '{{ .Notes }}',
												'{{ if .Type }}{{ .Type.ID }}{{ else }}0{{ end }}', '{{ printf `%f` .Cost }}')">
												<svg>
													<use xlink:href="/static/feather/feather-sprite.svg#edit-2" />
												</svg>
											</div>
											<div class="feather-icon" title="Remove" onclick="removeSpend(Number('{{ .ID }}'))">
												<svg>
													<use xlink:href="/static/feather/feather-sprite.svg#trash" />
												</svg>
											</div>
										</div>
									</td>
								</tr>
								{{ end }}

								<!--
									Inputs for new Spend

									We use '-{{ .ID }}' suffix because we render all days, just hide them.
									So, ids without this suffix wouldn't be unique. We use day id instead of
									day number because we pass into 'addSpend' function day id.
								-->
								<tr class="detailed-info__days__day__spends__new-spend" data-day-id="{{ .ID }}">
									<form onsubmit="addSpend(Number('{{ .ID }}'))">
										<td class="detailed-info__block__table__title">
											<input type="text" id="new-spend-title-{{ .ID }}" placeholder="Title" autocomplete="off" list="spend-datalist-{{ .ID }}">
											<datalist id="spend-datalist-{{ .ID }}"></datalist>
										</td>
										<td class="detailed-info__block__table__notes">
											<input
												type="text" id="new-spend-notes-{{ .ID }}" placeholder="Notes" autocomplete="off">
										</td>
										<td class="detailed-info__block__table__type">
											<select id="new-spend-type-{{ .ID }}" autocomplete="off">
												<option value="0">-</option>
												{{ range $.SpendTypes }}
												<option value="{{ .ID }}">{{ .FullName }}</option>
												{{ end }}
											</select>
										</td>
										<td class="detailed-info__block__table__money--input">
											<input type="text" id="new-spend-cost-{{ .ID }}" placeholder="Cost" autocomplete="off">
										</td>
										<td class="detailed-info__block__table__actions">
											<button type="submit" class="actions-horizontal-list">
												<div class="feather-icon" title="Add">
													<svg class="svg-icon-plus">
														<use xlink:href="/static/feather/feather-sprite.svg#plus" />
													</svg>
												</div>
											</button>
										</td>
									</form>
								</tr>
							</table>
						</div>

						<div class="detailed-info__days__day__result">
							<div>
								<span class="noselect">Spent:</span>
								<!-- Spends must be always <= 0 -->
								{{ $totalCost := call $.SumSpendCosts .Spends }}
								{{ if eq $totalCost 0 }}
								<span class="money--gain">{{ $totalCost }}</span>
								{{ else }}
								<span class="money--lose">{{ $totalCost }}</span>
								{{ end }}
							</div>

							<div>
								<span class="noselect">Saldo:</span>
								{{ if ge .Saldo 0 }}
								<span class="money--gain">{{ .Saldo }}</span>
								{{ else }}
								<span class="money--lose">{{ .Saldo }}</span>
								{{ end }}
							</div>
						</div>
					</div>
					{{ end }}
				</div>
			</div>

			<!-- Modal windows (hidden by default) -->
			<div id="modal-window__background">
				<!-- Edit Income -->
				<form id="modal-window__edit-income" class="modal-window">
					<div class="modal-window__header noselect">Edit Income</div>

					<div class="modal-window__edit-field">
						<span class="noselect">Title:</span>
						<input id="modal-window__edit-income__title" type="text">
					</div>

					<div class="modal-window__edit-field">
						<span class="noselect">Notes:</span>
						<input id="modal-window__edit-income__notes" type="text">
					</div>

					<div class="modal-window__edit-field">
						<span class="noselect">Income:</span>
						<input id="modal-window__edit-income__income" type="text">
					</div>

					<div class="modal-window__save-button">
						<input type="button" value="Cancel" onclick="hideAllModalWindows()">
						<input type="submit" id="modal-window__edit-income__save-button" value="Save">
					</div>
				</form>

				<!-- Edit Monthly Payment -->
				<form id="modal-window__edit-monthly-payment" class="modal-window">
					<div class="modal-window__header noselect">Edit Monthly Payment</div>

					<div class="modal-window__edit-field">
						<span class="noselect">Title:</span>
						<input id="modal-window__edit-monthly-payment__title" type="text">
					</div>

					<div class="modal-window__edit-field">
						<span class="noselect">Notes:</span>
						<input id="modal-window__edit-monthly-payment__notes" type="text">
					</div>

					<div class="modal-window__edit-field">
						<span class="noselect">Type:</span>
						<select id="modal-window__edit-monthly-payment__type">
							<option value="0">-</option>
							{{ range $.SpendTypes }}
							<option value="{{ .ID }}">{{ .FullName }}</option>
							{{ end }}
						</select>
					</div>

					<div class="modal-window__edit-field">
						<span class="noselect">Cost:</span>
						<input id="modal-window__edit-monthly-payment__cost" type="text">
					</div>

					<div class="modal-window__save-button">
						<input type="button" value="Cancel" onclick="hideAllModalWindows()">
						<input type="submit" id="modal-window__edit-monthly-payment__save-button" value="Save">
					</div>
				</form>

				<!-- Edit Spend -->
				<form id="modal-window__edit-spend" class="modal-window">
					<div class="modal-window__header noselect">Edit Spend</div>

					<div class="modal-window__edit-field">
						<span class="noselect">Title:</span>
						<input id="modal-window__edit-spend__title" type="text">
					</div>

					<div class="modal-window__edit-field">
						<span class="noselect">Notes:</span>
						<input id="modal-window__edit-spend__notes" type="text">
					</div>

					<div class="modal-window__edit-field">
						<span class="noselect">Type:</span>
						<select id="modal-window__edit-spend__type">
							<option value="0">-</option>
							{{ range $.SpendTypes }}
							<option value="{{ .ID }}">{{ .FullName }}</option>
							{{ end }}
						</select>
					</div>

					<div class="modal-window__edit-field">
						<span class="noselect">Cost:</span>
						<input id="modal-window__edit-spend__cost" type="text">
					</div>

					<div class="modal-window__save-button">
						<input type="button" value="Cancel" onclick="hideAllModalWindows()">
						<input type="submit" id="modal-window__edit-spend__save-button" value="Save">
					</div>
				</form>

				<!-- Manage types -->
				<div id="modal-window__manage-types" class="modal-window">
					<div class="modal-window__header noselect">Manage Spend Types</div>

					{{ range .SpendTypes }}
					<div id="modal-window__manage-types__spend-type-{{ .ID }}" class="modal-window__manage-types__spend-type">
						<input type="text" id="edit-spend-type-name-{{ .ID }}" value="{{ .Name }}" autocomplete="off"
							placeholder="{{ .Name }}">

						<div class="actions-horizontal-list">
							<div class="feather-icon" title="Save" onclick="editSpendType('{{ .ID }}', '{{ .Name }}')">
								<svg>
									<use xlink:href="/static/feather/feather-sprite.svg#check" />
								</svg>
							</div>
							<div class="feather-icon" title="Remove" onclick="removeSpendType(Number('{{ .ID }}'))">
								<svg>
									<use xlink:href="/static/feather/feather-sprite.svg#trash" />
								</svg>
							</div>
						</div>
					</div>
					{{ end }}

					<!-- New Spend Type -->
					<form class="modal-window__manage-types__spend-type" onsubmit="addSpendType()">
						<input type="text" id="new-spend-type-name" placeholder="New Spend Type" autocomplete="off">

						<button type="submit" class="feather-icon" title="Add">
							<svg>
								<use xlink:href="/static/feather/feather-sprite.svg#plus" />
							</svg>
						</button>
					</form>
				</div>
			</div>
		</div>

		{{template "templates/footer.html" .Footer}}
	</div>

	<script>
		// ----------------------------------------------------
		// Global variables
		// ----------------------------------------------------

		const Year = Number("{{ .Year }}")
		const MonthID = Number("{{ .ID }}");
		const MonthNumber = Number("{{ printf `%d` .Month.Month }}")

		// ----------------------------------------------------
		// Days
		// ----------------------------------------------------

		// Fill weeks in calendar: add days of previous and next months if needed
		window.addEventListener("load", () => {
			const calendar = document.getElementById("detailed-info__days__calendar");
			if (calendar === null) {
				console.error("couldn't get element with id 'detailed-info__days__calendar'");
				return;
			}

			const createCalendarDay = (dayNumber, monthName) => {
				const div = document.createElement("div");
				div.classList.add("detailed-info__days__calendar__day--disabled", "noselect");

				const info = document.createElement("div");
				info.classList.add("detailed-info__days__calendar__day__info");

				if (monthName.length > 4) {
					monthName = monthName.slice(0, 3);
				}
				const date = `${dayNumber} ${monthName}`;
				const dateElem = document.createElement("div");
				dateElem.classList.add("detailed-info__days__calendar__day__info__date");
				dateElem.textContent = date;
				info.append(dateElem);

				div.append(info);

				return div;
			}

			// Add days of the previous month

			const previousMonth = new Date(Year, MonthNumber - 1, 0);
			const daysInPreviousMonth = previousMonth.getDate();
			const previousMonthName = previousMonth.toLocaleString("default", { month: "long" });

			// Weeks are started from Monday
			const monthBeginning = new Date(Year, MonthNumber - 1);
			const firstDayNumber = (monthBeginning.getDay() + 6) % 7;

			for (let i = 0; i < firstDayNumber; i++) {
				const div = createCalendarDay(daysInPreviousMonth - i, previousMonthName);
				calendar.prepend(div);
			}

			// Add days of the next month

			const nextMonth = new Date(Year, MonthNumber);
			const nextMonthName = nextMonth.toLocaleString("default", { month: "long" });

			// Weeks are started from Monday
			const lastDayNumber = (nextMonth.getDay() + 6) % 7;

			for (let i = 0; i < 7 - lastDayNumber; i++) {
				const div = createCalendarDay(i + 1, nextMonthName);
				calendar.append(div);
			}

			// Add name of week days
			const weekDayNames = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"];
			const weekDayNamesShort = ["Mo", "Tu", "We", "Th", "Fr", "Sa", "Su"];
			for (let i = weekDayNames.length - 1; i >= 0; i--) {
				let div = document.createElement("div");
				div.classList.add("detailed-info__days__calendar__week-day-name", "noselect")
				div.textContent = weekDayNames[i];
				calendar.prepend(div);
			}
		})

		// Select day
		window.addEventListener("load", () => {
			const urlRegexp = /overview\/(\d+)\/(\d+)(?:#(\d+))?/;
			const match = window.location.href.match(urlRegexp);

			// Check whether day is passed in URL
			if (match[3] && Number(match[3])) {
				const passedDay = Number(match[3]);
				const daysInMonth = new Date(Year, MonthNumber, 0).getDate();
				if (0 < passedDay && passedDay <= daysInMonth) {
					// Select passed day
					selectDay(passedDay);
					return;
				}
			}

			// Check whether we display current month
			const now = new Date();
			if (match[1] == now.getFullYear() && match[2] == now.getMonth() + 1) {
				// Select current day
				selectDay(now.getDate());
				return;
			}

			// Just choose first day
			selectDay(1);
		});

		const calendarDayIDPrefix = "id-calendar-day-";
		const calendarDayClass = "detailed-info__days__calendar__day";
		//
		const dayIDPrefix = "id-day-";
		const dayClass = "detailed-info__days__day";

		function selectDay(dayNumber) {
			// Calendar

			// Remove highlights
			const calendarDays = document.getElementsByClassName(calendarDayClass);
			for (let i = 0; i < calendarDays.length; i++) {
				calendarDays[i].style.backgroundColor = "";
			}

			// Highlight day in calendar
			const calendarDayElemID = calendarDayIDPrefix + dayNumber;
			const calendarDayElem = document.getElementById(calendarDayElemID);
			if (calendarDayElem === undefined) {
				console.error(`element with id '${calendarDayElem}' doesn't exist`);
			} else {
				calendarDayElem.style.backgroundColor = "var(--hover-color)";
			}

			// Chosen day

			// Hide all days at first
			const days = document.getElementsByClassName(dayClass);
			for (let i = 0; i < days.length; i++) {
				days[i].style.display = "none";
			}

			// Display chosen day
			const dayElemID = dayIDPrefix + dayNumber;
			const dayElem = document.getElementById(dayElemID);
			if (dayElem === undefined) {
				console.error(`element with id '${dayElemID}' doesn't exist`);
				return;
			}

			dayElem.style.display = "block";
			// Set day number in URL
			location.hash = dayNumber;

			// Focus new Spend title input
			const newSpendForm = dayElem.querySelector(".detailed-info__days__day__spends__new-spend");
			const newSpendTitle = newSpendForm.querySelector(".detailed-info__block__table__title");
			const newSpendTitleInput = newSpendTitle.querySelector("input");
			newSpendTitleInput.focus();
		}

		// ----------------------------------------------------
		// Requests
		// ----------------------------------------------------

		// Incomes

		function addIncome() {
			preventDefault(this);

			const income = replaceCommas(getValue("new-income-income"));
			if (isNaN(income)) {
				processError("income must be a number");
				return;
			}

			const fields = {
				"month_id": MonthID,
				"title": getValue("new-income-title"),
				"notes": getValue("new-income-notes"),
				"income": Number(income),
			}

			sendRequest("POST", "/api/incomes", fields);
		}

		function editIncome(id) {
			preventDefault(this);

			const income = replaceCommas(getValue("modal-window__edit-income__income"));
			if (isNaN(income)) {
				processError("income must be a number");
				return;
			}

			const fields = {
				"id": Number(id),
				"title": getValue("modal-window__edit-income__title"),
				"notes": getValue("modal-window__edit-income__notes"),
				"income": Number(income),
			}

			sendRequest("PUT", "/api/incomes", fields);
		}

		function removeIncome(id) {
			preventDefault(this);

			if (!confirm("Do you really want to delete the Income?")) {
				return;
			}

			const fields = { "id": Number(id) };
			sendRequest("DELETE", "/api/incomes", fields);
		}

		async function copyIncomesFromPreviousMonth() {
			const previousMonth = await getPreviousMonth();
			if (!previousMonth) return;
			const incomes = previousMonth.incomes;

			for (const income of incomes) {
				const fields = {
					"month_id": MonthID,
					"title": income.title,
					"notes": income.notes || "",
					"income": income.income,
				};
				await sendRequest("POST", "/api/incomes", fields, () => { });
			}
			location.reload()
		}

		// Monthly Payments

		function addMonthlyPayment() {
			preventDefault(this);

			// Skip check because user can't specify typeID as not a number
			const typeID = getValue("new-monthly-payment-type");

			const cost = replaceCommas(getValue("new-monthly-payment-cost"));
			if (isNaN(cost)) {
				processError("cost must be a number");
				return;
			}

			const fields = {
				"month_id": MonthID,
				"title": getValue("new-monthly-payment-title"),
				"notes": getValue("new-monthly-payment-notes"),
				"type_id": Number(typeID),
				"cost": Number(cost),
			};

			sendRequest("POST", "/api/monthly-payments", fields);
		}

		function editMonthlyPayment(id) {
			preventDefault(this);

			// Skip check because user can't specify typeID as not a number
			const typeID = getValue("modal-window__edit-monthly-payment__type");

			const cost = replaceCommas(getValue("modal-window__edit-monthly-payment__cost"));
			if (isNaN(cost)) {
				processError("cost must be a number");
				return;
			}

			const fields = {
				"id": Number(id),
				"title": getValue("modal-window__edit-monthly-payment__title"),
				"notes": getValue("modal-window__edit-monthly-payment__notes"),
				"type_id": Number(typeID),
				"cost": Number(cost),
			}

			sendRequest("PUT", "/api/monthly-payments", fields);
		}

		function removeMonthlyPayment(id) {
			preventDefault(this);

			if (!confirm("Do you really want to delete the Monthly Payment?")) {
				return;
			}

			const fields = { "id": Number(id) };
			sendRequest("DELETE", "/api/monthly-payments", fields);
		}

		async function copyMonthlyPaymentsFromPreviousMonth() {
			const previousMonth = await getPreviousMonth();
			if (!previousMonth) return;
			const monthlyPayments = previousMonth.monthly_payments;

			for (const payment of monthlyPayments) {
				const fields = {
					"month_id": MonthID,
					"title": payment.title,
					"notes": payment.notes || "",
					"type_id": payment.type ? payment.type.id : 0,
					"cost": payment.cost,
				};
				await sendRequest("POST", "/api/monthly-payments", fields, () => { });
			}
			location.reload()
		}

		// Spends

		function addSpend(dayID) {
			preventDefault(this);

			// Skip check because user can't specify typeID as not a number
			const typeID = getValue(`new-spend-type-${dayID}`);

			const cost = replaceCommas(getValue(`new-spend-cost-${dayID}`));
			if (isNaN(cost)) {
				processError("cost must be a number");
				return;
			}

			const fields = {
				"day_id": Number(dayID),
				"title": getValue(`new-spend-title-${dayID}`),
				"notes": getValue(`new-spend-notes-${dayID}`),
				"type_id": Number(typeID),
				"cost": Number(cost),
			};

			sendRequest("POST", "/api/spends", fields);
		}

		function editSpend(id) {
			preventDefault(this);

			// Skip check because user can't specify typeID as not a number
			const typeID = getValue("modal-window__edit-spend__type");

			const cost = replaceCommas(getValue("modal-window__edit-spend__cost"));
			if (isNaN(cost)) {
				processError("cost must be a number");
				return;
			}

			const fields = {
				"id": Number(id),
				"title": getValue("modal-window__edit-spend__title"),
				"notes": getValue("modal-window__edit-spend__notes"),
				"type_id": Number(typeID),
				"cost": Number(cost),
			}

			sendRequest("PUT", "/api/spends", fields);
		}

		function removeSpend(id) {
			preventDefault(this);

			if (!confirm("Do you really want to delete the Spend?")) {
				return;
			}

			const fields = { "id": Number(id) };
			sendRequest("DELETE", "/api/spends", fields);
		}

		// Spend Types

		// If spendTypeChanged is true, page will be reloaded after closing Modal Window
		var spendTypeChanged = false;

		function addSpendType() {
			preventDefault(this);

			const name = getValue("new-spend-type-name");
			if (name === "") {
				processError("Name of Spend Type can't be empty");
				return;
			}

			const fields = {
				"name": name
			}

			// Reload on success
			sendRequest("POST", "/api/spend-types", fields);
		}

		function editSpendType(id, oldName) {
			preventDefault(this);

			const newName = getValue(`edit-spend-type-name-${id}`);
			if (newName === oldName) {
				// Do nothing
				return;
			}
			if (newName === "") {
				processError("Name of Spend Type can't be empty");
				return;
			}

			const fields = {
				"id": Number(id),
				"name": newName,
			}

			const handler = () => { spendTypeChanged = true; }
			sendRequest("PUT", "/api/spend-types", fields, handler);
		}

		function removeSpendType(id) {
			const fields = {
				"id": Number(id),
			}

			const hideRemovedSpendType = () => {
				spendTypeChanged = true;

				const elemID = `modal-window__manage-types__spend-type-${id}`;
				const elem = document.getElementById(elemID);
				if (!elem) {
					return;
				}
				elem.style.display = "none";
			}
			sendRequest("DELETE", "/api/spend-types", fields, hideRemovedSpendType);
		}

		async function getPreviousMonth() {
			let year = Year, month = MonthNumber - 1;
			if (month === 0) {
				year--;
				month = 12;
			}

			const params = new URLSearchParams({ "year": year, "month": month });
			return fetch("/api/months/date?" + params.toString()).
				then(rawResp => rawResp.json()).
				then(resp => {
					if (!resp.success) throw resp.error;
					return resp.month;
				}).
				catch(err => processError(err))
		}

		/**
		 * @param {string} method - HTTP method (POST or PUT)
		 * @param {string} url - request url
		 * @param {Object} fields - additional json fields (like month id, day id and etc.)
		 * @param {Function} successHandler - success handler (page are reloaded by default)
		 */
		async function sendRequest(method, url, fields, successHandler = () => { location.reload() }) {
			return fetch(url, {
				method: method,
				headers: { "Content-Type": "application/json" },
				body: JSON.stringify(fields || null)
			}).
				then(rawResp => rawResp.json()).
				then(resp => {
					if (!resp.success) throw resp.error;

					successHandler();

				}).catch(err => processError(err));
		}

		// ----------------------------------------------------
		// Modal windows
		// ----------------------------------------------------

		// Add event listener to hide modal window on click outside of Modal Window
		window.addEventListener("load", () => {
			const elem = document.getElementById(modalWindowID);
			if (!elem) {
				console.error(`element with id '${modalWindowID}' doesn't exist`);
				return
			}

			// Hide on click
			elem.addEventListener("click", (ev) => {
				if (ev.target.id !== modalWindowID) {
					return;
				}
				hideAllModalWindows();
			})
		});

		// Add event listener to hide modal window on Esc key pressing
		window.addEventListener("keydown", (ev) => {
			const escKeyCode = 27;

			if (ev.keyCode === escKeyCode) {
				hideAllModalWindows();
			}
		})

		const modalWindowID = "modal-window__background";
		const editIncomeModalWindowID = "modal-window__edit-income";
		const editMonthlyPaymentModalWindowID = "modal-window__edit-monthly-payment";
		const editSpendModalWindowID = "modal-window__edit-spend";
		const manageSpendTypesModalWindowID = "modal-window__manage-types";

		/**
		 * @param {string} id - Income id
		 * @param {string} title - current Income title
		 * @param {string} notes - current Income notes
		 * @param {string} income - current income
		 */
		function showModalWindowToEditIncome(id, title, notes, income) {
			hideAllModalWindows();

			// Set current values
			setValue("modal-window__edit-income__title", title);
			setValue("modal-window__edit-income__notes", notes);
			setValue("modal-window__edit-income__income", income);

			// Reset event listener
			const form = document.getElementById(editIncomeModalWindowID);
			form.onsubmit = () => { editIncome(id); }

			// Show Modal Window
			showElement(editIncomeModalWindowID);
			showElement(modalWindowID);
		}

		/**
		 * @param {string} id - Monthly Payment id
		 * @param {string} title - current Monthly Payment title
		 * @param {string} notes - current Monthly Payment notes
		 * @param {string} typeID - current Monthly Payment type id
		 * @param {string} cost - current Monthly Payment cost
		 */
		function showModalWindowToEditMonthlyPayment(id, title, notes, typeID, cost) {
			hideAllModalWindows();

			// Set current values
			setValue("modal-window__edit-monthly-payment__title", title);
			setValue("modal-window__edit-monthly-payment__notes", notes);
			setValue("modal-window__edit-monthly-payment__type", typeID);
			setValue("modal-window__edit-monthly-payment__cost", cost);

			// Reset event listener
			const form = document.getElementById(editMonthlyPaymentModalWindowID);
			form.onsubmit = () => { editMonthlyPayment(id); }

			// Show Modal Window
			showElement(editMonthlyPaymentModalWindowID);
			showElement(modalWindowID);
		}

		/**
		 * @param {string} id - Spend id
		 * @param {string} title - current Spend title
		 * @param {string} notes - current Spend notes
		 * @param {string} typeID - current Spend type id
		 * @param {string} cost - current Spend cost
		 */
		function showModalWindowToEditSpend(id, title, notes, typeID, cost) {
			hideAllModalWindows();

			// Set current values
			setValue("modal-window__edit-spend__title", title);
			setValue("modal-window__edit-spend__notes", notes);
			setValue("modal-window__edit-spend__type", typeID);
			setValue("modal-window__edit-spend__cost", cost);

			// Reset event listener
			const form = document.getElementById(editSpendModalWindowID);
			form.onsubmit = () => { editSpend(id); }

			// Show Modal Window
			showElement(editSpendModalWindowID);
			showElement(modalWindowID);
		}

		function showModalWindowToEditTypes() {
			hideAllModalWindows();

			// Show Modal Window
			showElement(manageSpendTypesModalWindowID);
			showElement(modalWindowID);
		}

		/**
		 * hideAllModalWindows hides all Modal Windows
		 */
		function hideAllModalWindows() {
			hideElement(modalWindowID);
			hideElement(editIncomeModalWindowID);
			hideElement(editMonthlyPaymentModalWindowID);
			hideElement(editSpendModalWindowID);
			hideElement(manageSpendTypesModalWindowID);

			if (spendTypeChanged) {
				// Reload page to display updated Spend Types
				location.reload();
			}
		}

		// ----------------------------------------------------
		// Helpers
		// ----------------------------------------------------

		/**
		 * preventDefault prevent the default action if it is possible
		 */
		function preventDefault(that) {
			if (that.event && that.event.preventDefault) {
				that.event.preventDefault();
			}
		}

		/**
		 * @param {string} elemID - id of an element
		 * @return {Object} value of an element or empty string
		 */
		function getValue(elemID) {
			const elem = document.getElementById(elemID);
			if (elem === undefined) {
				console.error(`element with id '${elemID}' doesn't exist`);
				return "";
			}

			return elem.value || "";
		}

		/**
		 * @param {string} elemID - id of an element 
		 * @param {string} value - new value element
		 */
		function setValue(elemID, value) {
			const elem = document.getElementById(elemID);
			if (elem === undefined) {
				console.error(`element with id '${elemID}' doesn't exist`);
				return;
			}

			elem.value = value;
		}

		/** resetValues resets values of passed elements
		 *
		 * @param {...string} elemIDs - list of element ids
		 */
		function resetValues(...elemIDs) {
			for (let i = 0; i < elemIDs.length; i++) {
				/**
				* @type {HTMLInputElement}
				*/
				const elem = document.getElementById(elemIDs[i]);
				if (elem === undefined) {
					console.error(`element with id '${elemIDs[i]}' doesn't exist`)
					continue;
				}

				elem.value = "";
			}
		}

		/** showElement sets 'display' to 'block'
		 *
		 * @param {string} elemID - element id
		 */
		function showElement(elemID) {
			const elem = document.getElementById(elemID);
			if (!elem) {
				console.error(`element with id '${elemID}' doesn't exist`);
				return
			}

			elem.style.display = "block";
		}

		/** hideElement sets 'display' to 'none'
		 *
		 * @param {string} elemID - element id
		 */
		function hideElement(elemID) {
			const elem = document.getElementById(elemID);
			if (!elem) {
				console.error(`element with id '${elemID}' doesn't exist`);
				return
			}

			elem.style.display = "none";
		}

		function processError(error) {
			console.error(error);
			alert("Error: " + error);
		}

		/** replaceCommas replaces commas in passed string with points: 'qwe,rty,uio' -> 'qwe.rty,uio'.
		 * It should be used to fix decimal separator: '15,5' -> '15.5'
		 *
		 * @param {string} s
		 * @return {string} string with replaced commas
		 */
		function replaceCommas(s) {
			return s.replace(",", ".");
		}

	</script>

	<!-- Link Formatter -->
	<script src="/static/js/link-formatter.js"></script>
	<script>
		window.addEventListener("load", () => {
			formatLinks(".detailed-info__block__table__notes:not(.noselect)");
		})
	</script>

	<!-- Spend Autocompletion -->
	<script>
		// A special character which is added to option values in <datalist>.
		// Use 'three-per-em space' - https://en.wikipedia.org/wiki/Whitespace_character
		const suggestionMark = " ";
		const suggestionRegexp = new RegExp(`${suggestionMark}•${suggestionMark}\\d+`);

		/**
		 * @param {string} title
		 * @return {boolean}
		 */
		function isSuggestion(title) {
			return suggestionRegexp.test(title);
		}

		/**
		 * @param {string} title
		 * @param {number} count
		 * @return {string}
		 */
		function addSuggestionMark(title, count) {
			return title + `${suggestionMark}•${suggestionMark}${count}`;
		}

		/**
		 * @param {string} title
		 * @return {string}
		 */
		function removeSuggestionMark(title) {
			return title.replace(suggestionRegexp, "");
		}

		class SpendAutocompleter {
			/**
			 * @typedef {Object} Spend
			 * @property {string} title
			 * @property {Object} type
			 * @property {number} type.id
			 * @property {string} type.name
			 * @property {number} cost
			 */

			/**
			 * @typedef {Object} Counter
			 * @property {number} count
			 *
			 * @typedef {Spend & Counter} SpendWithCounter
			 */

			/**
			 * @param {number} dayID
			 */
			constructor(dayID) {
				this.dayID = dayID;
				/** @type {SpendWithCounter[]} */
				this.cachedSpends = [];
				/** @type {?number} */
				this.getSpendsTimeoutID = null;

				this.titleInput = document.getElementById("new-spend-title-" + dayID);
				this.titleInput.addEventListener("input", this.oninputListener.bind(this));

				this.typeSelector = document.getElementById("new-spend-type-" + dayID);
				this.costInput = document.getElementById("new-spend-cost-" + dayID);

				this.spendDatalist = document.getElementById("spend-datalist-" + this.dayID);
			}

			/**
			 * @param ev {Event}
			 */
			oninputListener(ev) {
				const title = ev.target.value;

				if (isSuggestion(title)) {
					// User chose a suggestion. Remove the suggestion mark and complete it
					ev.target.value = removeSuggestionMark(title);
					this.completeSuggestion(ev.target.value)
					return;
				}

				if (title.length < 3) {
					this.clearSuggestionList();
					return;
				}

				if (this.getSpendsTimeoutID) {
					clearTimeout(this.getSpendsTimeoutID);
				}
				this.getSpendsTimeoutID = setTimeout(async () => {
					this.cachedSpends = await this.getSpends(title);
					this.updateSuggestionList();
				}, 100);
			}

			/**
			 * Get spends with passed title and unite duplicates (leave only newest). Spends are sorted by frequency
			 * @param {string} title
			 * @return {SpendWithCounter[]}
			 */
			async getSpends(title) {
				const spends = await this.searchSpendsViaAPI(title);

				// Unite duplicates

				/** @type {Object.<string, SpendWithCounter>} */
				const uniqueSpends = {};
				for (let spend of spends) {
					if (uniqueSpends[spend.title]) {
						uniqueSpends[spend.title].count++;
						continue;
					}
					uniqueSpends[spend.title] = spend;
					uniqueSpends[spend.title].count = 1;
				}

				// Sort by frequency

				/** @type {SpendWithCounter[]} */
				const sortedSpends = [];
				for (let title in uniqueSpends) {
					sortedSpends.push(uniqueSpends[title])
				}
				sortedSpends.sort((a, b) => {
					if (a.count !== b.count) {
						return a.count < b.count;
					}
					return a.title > b.title;
				});

				return sortedSpends;
			}

			/**
			 * Search spends with passed title via API. Spends are sorted by date from newest to oldest
			 * @param {string} title
			 * @return {Spend[]}
			 */
			async searchSpendsViaAPI(title) {
				const params = new URLSearchParams({ "title": title, "sort": "date", "order": "desc" });

				const spends = await fetch("/api/search/spends?" + params.toString()).
					then(rawResp => rawResp.json()).
					then(resp => {
						if (!resp.success) throw resp.error;
						return resp.spends;
					}).
					catch(err => console.error(err));

				return spends || [];
			}

			/**
			 * Update <datalist> with cached spends. Option values are marked with suggestion mark
			 */
			updateSuggestionList() {
				this.clearSuggestionList();

				for (let spend of this.cachedSpends) {
					const option = document.createElement("option");
					option.value = addSuggestionMark(spend.title, spend.count);
					this.spendDatalist.appendChild(option);
				}
			}

			clearSuggestionList() {
				this.spendDatalist.innerHTML = "";
			}

			/**
			 * Complete the suggestion by setting spend type and cost
			 * @param {string} title - Title without suggestion mark
			 */
			completeSuggestion(title) {
				for (let spend of this.cachedSpends) {
					if (spend.title != title) continue;

					this.typeSelector.value = spend.type ? spend.type.id : 0;
					this.costInput.value = spend.cost;
					break;
				}
			}
		}

		window.addEventListener("load", () => {
			const elements = document.getElementsByClassName("detailed-info__days__day__spends__new-spend");
			for (let elem of elements) {
				const dayID = Number(elem.getAttribute("data-day-id"));
				new SpendAutocompleter(dayID);
			}
		})
	</script>
</body>

</html>