{{ define "components/footer.html" }}
<style>
	#footer {
		position: relative;
	}

	#footer__app-info {
		column-gap: 5px;
		display: flex;
		justify-content: center;
	}

	#footer__theme-switcher {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
	}

	#footer__theme-switcher>button.feather-icon {
		padding: 0;
	}

	#footer__theme-switcher>button.feather-icon>svg {
		height: 25px;
		width: 25px;
	}

	#footer__theme-switcher>button.hidden {
		display: none;
	}
</style>

<div id="footer">
	<div id="footer__app-info">
		<div title="Commit {{ .GitHash }}">Budget Manager {{ .Version }}</div>
		<div class="noselect">|</div>
		<div>
			<a href="https://github.com/ShoshinNikita/budget-manager" class="feather-icon" target="_blank" title="GitHub repo">
				{{ template "components/icon" "github" }}
			</a>
		</div>
	</div>

	<div id="footer__theme-switcher">
		<button id="light-theme-btn" class="feather-icon hidden" onclick="toggleTheme()" title="Turn off Dark Theme">
			{{ template "components/icon" "sun" }}
		</button>

		<button id="dark-theme-btn" class="feather-icon hidden" onclick="toggleTheme()" title="Turn on Dark Theme">
			{{ template "components/icon" "moon" }}
		</button>
	</div>
</div>

<script>
	window.addEventListener("load", updateThemeButton);
	window.addEventListener(themeChangeEventName, updateThemeButton);

	const lightThemeBtn = document.getElementById("light-theme-btn");
	const darkThemeBtn = document.getElementById("dark-theme-btn");

	function updateThemeButton() {
		if (isDarkTheme()) {
			switchButton(lightThemeBtn, darkThemeBtn);
		} else {
			switchButton(darkThemeBtn, lightThemeBtn);
		}
	}

	function switchButton(show, hide) {
		const className = "hidden";

		show.classList.remove(className);
		hide.classList.add(className);
	}
</script>
{{ end }}