{{ define "components/footer.html" }}
<style>
	#footer__app-info {
		column-gap: 5px;
		display: flex;
		justify-content: center;
	}
</style>

<div id="footer">
	<div id="footer__app-info">
		<div title="Commit {{ .GitHash }}">Budget Manager {{ .Version }}</div>
		<div class="noselect">|</div>
		<div>
			<a href="https://github.com/ShoshinNikita/budget-manager" class="feather-icon" target="_blank" title="GitHub repo">
				{{ template "components/icon" "github" }}
			</a>
		</div>
	</div>
</div>
{{ end }}